.DS_Store
__pycache__/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
paper/main.pdf
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/processed/human_validated_labels.csv
